# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

In [2]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv"
data = pd.read_csv(url, sep="|")

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv("chipotle.tsv", sep="\t")

### Step 4. How many products cost more than $10.00?

In [4]:
chipo["item_price"] = chipo["item_price"].str.replace("$", "").astype(float)
num_products_over_10 = (chipo["item_price"] > 10).sum()
num_products_over_10

np.int64(1130)

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [5]:
price_each_item = chipo[["item_name", "item_price"]]
price_each_item.head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [6]:
sorted_chipo = chipo.sort_values("item_name")
sorted_chipo[["item_name", "item_price"]].head(10)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
3422  6 Pack Soft Drink        6.49
553   6 Pack Soft Drink        6.49
1916  6 Pack Soft Drink        6.49
1922  6 Pack Soft Drink        6.49
1937  6 Pack Soft Drink        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
chipo["item_price"] = chipo["item_price"].astype(str).str.replace("$", "", regex=False).astype(float)
most_expensive = chipo.loc[chipo["item_price"].idxmax()]
most_expensive[["item_name", "quantity", "item_price"]]

item_name     Chips and Fresh Tomato Salsa
quantity                                15
item_price                           44.25
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [10]:
veggie_salad_count = chipo.loc[chipo["item_name"] == "Veggie Salad Bowl", "quantity"].sum()
print(veggie_salad_count)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [11]:
canned_soda_orders = chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)]
count_canned_soda = canned_soda_orders.shape[0]

print(count_canned_soda)

20