# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

In [ ]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv"
data = pd.read_csv(url)

### Step 3. Assign it to a variable called baby_names.

In [ ]:
baby_names = pd.read_csv("us_baby.tsv")

### Step 4. See the first 10 entries

In [8]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [9]:
df = baby_names.drop(columns=['Unnamed: 0', 'Id'])
print(df.head)

<bound method NDFrame.head of             Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1016390     Seth  2014      M    WY      5
1016391  Spencer  2014      M    WY      5
1016392     Tyce  2014      M    WY      5
1016393   Victor  2014      M    WY      5
1016394   Waylon  2014      M    WY      5

[1016395 rows x 5 columns]>

### Step 6. Is there more male or female names in the dataset?

In [12]:
print(df['Gender'].value_counts())

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [14]:
names = df.groupby('Name')
print(names.head())

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1004923  Gryffin  2014      M    WI      5
1004950     Kroy  2014      M    WI      5
1004973     Owyn  2014      M    WI      5
1005707   Haylea  2005      F    WV      5
1012216  Coalton  2012      M    WV      7

[65502 rows x 5 columns]

### Step 9. What is the name with most occurrences?

In [15]:
print(df['Name'].value_counts().head(1))

Name
Riley    1112
Name: count, dtype: int64

### Step 10. How many different names have the least occurrences?

In [16]:
name_counts = df['Name'].value_counts()
min_occurrences = name_counts.min()
num_rare_names = (name_counts == min_occurrences).sum()

print(f"Có {num_rare_names} tên chỉ xuất hiện {min_occurrences} lần (ít nhất).")

Có 3682 tên chỉ xuất hiện 1 lần (ít nhất).

### Step 11. What is the median name occurrence?

In [18]:
name_counts = df['Name'].value_counts()
median_occ = name_counts.median()
print(median_occ)

8.0

### Step 12. What is the standard deviation of names?

In [19]:
std_occ = name_counts.std()
print(std_occ)

122.0299635081389

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [ ]:
summary = name_counts.describe()
print(summary)

count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
Name: count, dtype: float64

: